* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: rgb(210, 201, 201); */
}

body {
  background-color: rgb(91, 92, 93);
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 2rem;
  margin: 0rem 1rem 1rem 1rem;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1rem;
  color: white;
}

.question-card {
  display: flex;
  flex-direction: column;
  background: rgb(133, 139, 139);
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
  width: 75%;
}

.question-card h3,
.question-card p {
  margin: 0rem 1rem;
}

.week-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1rem;
  color: white;
}

.week-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  background: rgb(133, 139, 139);
  border-radius: 0.5rem;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
  width: 75%;
  padding: 1.5rem;
}

.week-card h3,
.week-card ul {
  width: 40%;
}

.milestones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1rem;
  color: white;
}

.resource {
  margin: 1rem 1rem;
  color: white;
}
